# =========================
# Build files
# =========================
*.o
*.out
*.a
*.so
*.exe

# Executables
server
worker
client

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.swp
*~

# =========================
# VSCode settings
# =========================
.vscode/

# =========================
# Debug / sanitizer output
# =========================
asan.*
core
